<h1>Display Details about the list</h1>

<%= @list.name %>

<% @list.movies.each do |movie|%>
  <%= movie.title %>
  <%= movie.overview %>
  <%= image_tag movie.poster_url %>
  <% end %>

<%= link_to "Add Movies to your list", new_list_bookmark_path(@list)%>
<%= link_to "Go Back", lists_path(@list) %>
